*,
*::before,
*::after {
}

body {
	background-color: #f0eef1;
	font-family: Marfa, system-ui, -apple-system, BlinkMacSystemFont,
		'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 100px;
	font-weight: 500;
}

button,
input {
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
	outline: none;
}

input[type='text'],
input[type='number'] {
	cursor: text;
}

.title {
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
	margin-top: 40px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	gap: 20px;
	padding: 20px;
	border-radius: 8px;
	background-color: #fffbfb;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	line-height: 1.2;
}

#new {
	font-size: 20px;
	padding: 20px;
	border: solid 2px rgba(210, 210, 210, 0.3);
	border-radius: 8px;
	background-color: #fffbfb;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	margin: auto;
	display: block;
}

/* MODALS */

.modal {
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 300px;
	padding: 20px;
	border-radius: 8px;
	background-color: #f0eef1;
	text-align: center;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease-in-out;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.add-book-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.add-book-form button {
	width: 100%;
}

.error-msg {
	display: none;
	color: red;
}

.error-msg.active {
	display: block;
	margin-top: -15px;
}

.input {
	width: 100%;
	padding: 10px;
	border-radius: 8px;
}

.is-read {
	display: flex;
	gap: 15px;
}

.checkbox {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	accent-color: white;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
	display: block;
}
